<app-navbar></app-navbar>
<div class="container">
  <h2>Nossos Parceiros</h2>
  <mat-form-field appearance="fill">
    <mat-label>Filtro por Nome</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let partner">{{ partner.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let partner">{{ partner.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
      <td mat-cell *matCellDef="let partner">{{ partner.description }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let partner">
       <div class="d-flex">
        <button mat-icon-button (click)="openEditDialog(partner)" matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePartner(partner.id)" matTooltip="Excluir">
          <mat-icon>delete</mat-icon>
        </button>
       </div>
      </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]"
    showFirstLastButtons
  ></mat-paginator>
</div>
