<app-navbar></app-navbar>
<div class="container">
  <h2>Empresas Externas</h2>

  <div class="w-25">
    <mat-form-field appearance="fill">
      <mat-label>Filtro por Nome da Empresa</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let company">{{ company.id }}</td>
    </ng-container>

    <!-- Company Name Column -->
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome da Empresa</th>
      <td mat-cell *matCellDef="let company">{{ company.companyName }}</td>
    </ng-container>

    <!-- Collaborators Count Column -->
    <ng-container matColumnDef="collaboratorsCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Colaboradores</th>
      <td mat-cell *matCellDef="let company">
        {{ company.collaboratorsCount }}
      </td>
    </ng-container>

    <!-- Is Active Column -->
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ativo</th>
      <td mat-cell *matCellDef="let company">
        {{ company.isActive ? "Sim" : "Não" }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let company">
        <div class="d-flex">
          <button
            mat-icon-button
            (click)="openEditDialog(company)"
            matTooltip="Editar"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteCompany(company.id)"
            matTooltip="Excluir"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="d-flex justify-content-between mt-4">
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
    <button mat-mini-fab color="primary" (click)="shareLink()" matTooltip="Compartilhar Link">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</div>
