<app-navbar></app-navbar>
<div class="container">
  <section class="sobre-aplicacao">
    <h1>Sobre a Aplicação</h1>
    <p>
      Olá e bem-vindo! Estou muito animado para apresentar esta aplicação que desenvolvi com o propósito de criar uma solução prática e eficiente para o gerenciamento de parceiros e empresas externas.
    </p>
    <p>
      Este projeto foi construído com o Angular, um framework que considero excepcional para o desenvolvimento de aplicações web modernas e dinâmicas. Escolhi o Angular Material para garantir uma interface de usuário atraente e consistente, aproveitando seus componentes prontos e seu design responsivo que se adapta bem a diferentes dispositivos.
    </p>
    <p>
      A arquitetura da aplicação adota uma abordagem de micro front-ends, permitindo que diferentes equipes possam gerenciar partes específicas da aplicação de forma independente. Essa abordagem não só facilita a escalabilidade do projeto, mas também torna a manutenção mais ágil e eficaz.
    </p>
    <p>
      O sistema foi projetado para permitir o cadastro e a gestão de parceiros e empresas externas, oferecendo funcionalidades completas para CRUD (criação, leitura, atualização e exclusão) e integração com diversas APIs. A ideia é proporcionar uma plataforma robusta que atenda às necessidades dos nossos clientes e melhore a eficiência dos processos de negócios.
    </p>
    <p>
      Estou sempre em busca de melhorias e feedbacks. Espero que você encontre a aplicação intuitiva e útil, e fico à disposição para ouvir suas sugestões e contribuir para aprimorar ainda mais essa solução.
    </p>
  </section>
</div>
